<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta charset="ISO-8859-1">
    <title>Ejemplo Spring Boot</title>
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRES</th>
                    <th>TELEFONO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona:${personas}">
                    <td>${persona.id}</td>
                    <td>${persona.name}</td>
                    <td>${persona.telefono}</td>
                    <td>
                        <a class="btn btn-warning">Editar</a>
                        <a class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>